{{!-- Citation: CS340 github for node starter app. https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main  --}}
{{!Full citation in readme}}


<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Eating 'Round the World</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
  <header>
    <h1>Eating 'Round the World</h1>
    <nav class="page-nav">
      <a href="/">Home</a>
      <a href="/restaurants">Restaurants</a>
      <a href="/restaurant_has_cuisines">Restaurant Cuisines</a>
      <a href="/cuisines">Cuisines</a>
      <a href="/price_levels">Price Levels</a>
      <a href="/reviews">Reviews</a>
      <a href="/reviewers">Reviewers</a>
      <a href="/expenses">Expenses</a>
    </nav>
  </header>
<body>

    {{{body}}}

<footer>
    <p> &copy; 2023 Joana Shin, Brandie McGinnes</p>
</footer>
</body>
</html>