

  
    <h1>Homepage</h1>
<section class="homepage-section">
    <h4><a href="/restaurants">Restaurants</a></h4>
    <p>Information about restaurants that have been/will be reviewed. Restaurants may be viewed, added and deleted.</p>
</section>

<section class="homepage-section">
    <h4><a href="/restaurant_has_cuisines">Restaurant Cuisines</a></h4>
    <p>A table that shows cuisines alongside the restaurants that serve them. A single restaurant could have multiple
      cuisines. (ex.: A restaurant can serve both Indian and vegetarian cuisines) Relationships may be viewed, added, updated, and deleted.</p>
</section>

<section class="homepage-section">
    <h4><a href="/cuisines">Cuisines</a></h4>
    <p>This table shows the different categories of cuisine that a restaurant may serve. Cuisines may be viewed and added.</p>
</section>

<section class="homepage-section">
    <h4><a href="/price_levels">Price Levels</a></h4>
    <p>Categories of prices that reflect ranges, in dollars, of what a single diner can expect to pay for a meal. Price levels can be viewed and added.</p>
</section>

<section class="homepage-section">
    <h4><a href="/reviews">Reviews</a></h4>
    <p>Records of the reviews that have been completed by reviewers. Each review is for a specific restaurant but each restaurant can have multiple reviews. 
      Reviews can be viewed, added, and updated.</p>
</section>

<section class="homepage-section">
    <h4><a href="/reviewers">Reviewers</a></h4>
    <p>Personal information about the individual reviewers as may be needed by the business. Reviewers can be viewed and added.</p>
</section>

<section class="homepage-section">
    <h4><a href="/expenses">Expenses</a></h4>
    <p>This table records the expenses that a reviewer can incur as a result of a  review that requires reimbursement. 
      This could include dining bills, parking, mileage, etc. Expenses can be viewed and added.</p>
  </section>