
<h1>Price Levels</h1>

<div>
    <h3>Browse Price Levels</h3>
    {{!-- Create a table --}}
    <table>

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the following in order --}}
            {{#each data}}
            <tr>
                <td>{{this.priceID}}</td>
                <td>{{this.priceRange}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <br>
</div>