{{!-- Citation: CS340 github for node starter app. https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main  --}}

<h1>Price Levels</h1>

<div>
    <h3>Browse or Delete Price Levels</h3>
    {{!-- Create a table --}}
    <table id="price-levels-table">

        {{!-- Header section --}}
        <thead>

            {{!-- For just the first row, we print each key of the row object as a header cell so we
            know what each column means when the page renders --}}
            <tr>
                <th>Price ID</th>
                <th>Price Range</th>
                <th>Delete</th>
            </tr>
        </thead>

        {{!-- Body section --}}
        <tbody>

            {{!-- For each row, print the following in order --}}
            {{#each data}}
            <tr data-value="{{this.priceID}}">
                <td>{{this.priceID}}</td>
                <td>{{this.priceRange}}</td>
                <td><button onclick="deletePrice({{this.priceID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="../public/js/delete_prices.js"></script>
    <br>
</div>

<div>
    <h3>Add New Price Level</h3>

    <form id="add-price-form" method="POST" action="/add-price-form" required>
    <p>Design Note: In a live setting, this entity would be considered a read only table with this form only visible to administrators.</p>

    <label for="priceRangeInput">New Price Range:</label>
    <input type="text" id="priceRangeInput" name="priceRangeInput" required><br>

    
    <input type="submit" value="Add New Price Range">
    </form>
</div>