body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

header, footer {
  background-color: #d3e0cc;
  border-radius: 10px;
  padding: 5px;
  margin: 0 0 25px 0;
}

.page-nav a {
  background-color: #88ab75;
  color: #fff;
  box-shadow: 1px 1px 1px 1px #6e6d6d;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-weight: bolder;
  text-decoration: none;
  line-height: 55px;
  word-break: keep-all;
}
.page-nav a:hover {
  background-color:var(--brick-light);
  color: var(--green-accent);
}

button {
  color: #fff;
  background-color: #88ab75;
  border:  #88ab75; 
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;

}


h1 {
  font-size: 24px;
  font-weight: bold;
  color: #555;
}

a {
  color: #88ab75;
  text-decoration: underline;
  
  
}

a:hover {
  text-decoration: underline;
}


.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00f;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #007bff;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #88ab75;
  color: white;
}

label {
  display: block;
  margin-bottom: 3px;
}

input {
  margin: 10px;
}

input[type=text], select, textarea {
  width: 85%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #88ab75;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #88ab75;
}

input[required] {
  border-color: rgb(187, 61, 61);
}

section {
  margin-bottom: 60px;
}

form {
  background-color: #f2f2f2;
  margin-bottom: 15px;
  width: 40%;
  padding: 10px;
  border-radius: 5px;
}

select {
  margin: 10px;
}

select[required] {
  border-color: rgb(187, 61, 61);
}

label {
  margin-left: 10px;
  font-weight: bold;
}

label[for="required"]::after {
  content: "*";
  color: red;
}

.homepage-section {
  background-color: #f2f2f2;
  padding: 12px; 
  border-radius: 5px;
  width: 60%;
  margin-bottom: 10px;
}